body {
  width: 323px;
  border: 1px solid #c8c8c8;
  border-radius: 15px;
  margin: 80px auto;
  padding: 66px 24px 26px 24px;
}

.cal-ipt {
  width: 100%;
  padding: 10px;
  border: none;
  text-align: right;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 1px;
  color: #a4a4a4;
  background-color: #fff;
}

.oper {
  color: #ff9405; /* 연산자 색상 */
}

.result {
  text-align: right;
  margin: 30px 0 50px;
  font-size: 40px;
  line-height: 48px;
  height: 48px;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #e1e4e5;
  width: 68px;
  height: 68px;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.95); /* 클릭 시 버튼 크기 축소 */
  background-color: #d4d4d4; /* 클릭 시 배경색 변경 */
}

button.c-btn {
  background-color: #ffc5c5;
  color: #ff2e2e;
}

.c-btn:active {
  background-color: #faa4a4;
}

button.oper-btn {
  background-color: #ff9404;
  color: #fff;
}

.oper-btn:active {
  background-color: #e28201;
}

button.equals-btn {
  background-color: #30cb72;
  color: #fff;
}

.equals-btn:active {
  background-color: #22ab5c;
}

.cal-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}
